<ul class="aus-eth-list text-s-sm">
  <li> 
    <strong>Build a clean energy future</strong><br>
    Our investments include solar, geothermal, hydro and wind companies, such as Vestas who have raised over 51,000 wind turbines across 73 countries.
  </li>
  
  <li>
    <strong>Send a message to big coal</strong><br>
    Divesting from our worst polluters has potential to sway public opinion and expedite strong government action to deal with climate change.
  </li>
  
  <li>
    <strong>Comprehensive range of options</strong><br>
    We offer a range of investment options, each with a different mix of asset classes and risk/return objectives, allowing you to choose the level of risk appropriate to your age, investment timeframe, risk tolerance and where other parts of your wealth are invested.
  </li>
  
  <li>
    <strong>Provide competitive returns</strong><br>
    Our default Balanced (accumulation) investment option outperformed the investment objective* for the five year period to 31 March 2017.
    
    <br>
    
    <span class="disclaimer">Reference: <a href="https://www.australianethical.com.au/wp-content/uploads/2016/06/Super-AIB_30-June-2016_sec.pdf">investment objective</a> aims to achieve returns of 3.5% p.a. above inflation over the medium to longer terms.</span>
  </li>
</ul>

<div class="aus-eth-testimonial row">
  <div class="australian-ethical-photo fln-sm m-a-sm"></div>
  
  <blockquote class="flr fln-sm w100p-sm">
    "Making the switch to Australian Ethical was simple, rewarding and marks another personal step towards my goal of becoming a conscious consumer."
    
    <footer>Tim Silverwood - Environmentalist, Founder of Take 3</footer>
  </blockquote>
  
  <div class="clb"></div>
</div>

<div class="aus-eth-icons tac text-light-green">
  <h3 class="text-black text-l mt20-sm">Our ethics</h3>
  
  <p class="text-black">
    The Australian Ethical Charter has remained unchanged since 1986. Our in-house ethics team helps to ensure that every single investment meet the Charter and has a net positive impact on people, the planet and animals.
  </p>
  
  <div class="col-sm-2 col-xs-6 col-sm-offset-1">
    <%= image_tag "aus_eth_icon_clean_energy.png", class: "dib db-sm m-a-sm" %>
   
    <p class="icon-text dib w100p-sm tac-sm">Clean Energy</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_sustainable.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Sustainable Products</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_medical.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Medical Solutions</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_heart.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Healthcare</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_recycling.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Recycling</p>
  </div>
  
  <div class="clb dn-sm"></div>
  
  <div class="col-sm-2 col-xs-6 col-sm-offset-1">
    <%= image_tag "aus_eth_icon_energy.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Energy Efficiency</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_innovative_tech.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Innovative Technology</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_responsible.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Responsible Banking</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_education.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Education</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_aged_care.png", class: "dib db-sm m-a-sm" %>
    
    <p class="icon-text dib w100p-sm tac-sm">Aged Care</p>
  </div>
</div>

<div class="tac mb20">
  <%= link_to "START THE SWITCH", "#switch_good_super", class: "btn btn-primary btn-padded" %>
</div>

<hr>

<div class="aus-eth-icons-2 tac">
  <h3 class="text-l mb40">We avoid companies involved in:</h3>
  
  <div class="col-sm-2 col-xs-6 col-sm-offset-1">
    <%= image_tag "aus_eth_icon_coal.png" %>
   
    <p>Coal</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_coalseam.png" %>
    
    <p>Coal Seam Gas</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_oil.png" %>
    
    <p>Oil</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_weapons.png" %>
    
    <p>Weapons</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_smoking.png" %>
    
    <p>Tobacco</p>
  </div>
  
  <div class="clb dn-sm"></div>
  
  <div class="col-sm-2 col-xs-6 col-sm-offset-1">
    <%= image_tag "aus_eth_icon_logging.png" %>
    
    <p>Logging</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_exploitation.png" %>
    
    <p>Exploitation</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_gambling.png" %>
    
    <p>Gambling</p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_human_rights.png" %>
    
    <p>Human Rights Abuses</p>
  </div>
  
  <div class="col-sm-2 col-xs-6">
    <%= image_tag "aus_eth_icon_harmful.png" %>
    
    <p>Harmful Products</p>
  </div>
  
  <div class="clb"></div>
</div>

<hr>

<div class="tac pl40 pr40 pb20 pt0">
  <h3 class="text-l mb20">Find and combine your other super accounts</h3>
  
  <p>
    Combining multiple super accounts into an individual account not only saves you fees but also the time and paperwork required to manage your accounts. However, locating your other super accounts and rolling them it into a single account can be time-consuming.
  </p>

  <p>
    That's why we've launched an automatic rollover service, where we can find and combine your other super into your Australian Ethical super account.
  </p>

  <p>
    Simply select our ‘Automatic rollover service' when you join online and we'll take care of the rest.
  </p>

  <div class="tac mb20">
    <%= link_to "START THE SWITCH", "#switch_good_super", class: "btn btn-primary btn-padded" %>
  </div>
</div>

<hr>

<div class="tac">
  <h3 class="text-l mb20">As seen in:</h3>
  
  <p><%= image_tag "aus_eth_as_seen_in_1.jpg", class: "w100p-sm" %></p>
  <p><%= image_tag "aus_eth_as_seen_in_2.jpg", class: "w100p-sm" %></p>
</div>

<hr>

<div class="disclaimer p40">
  <h3>General information only</h3>
  
  <p>
    This information is general information only and does not take account of your individual investment objectives, financial situation or needs. Before acting on it, consider seeking independent financial advice
  </p>

  <p>
    Interests in the Australian Ethical Retail Superannuation Fund (ABN 49 633 667 743) are offered by Australian Ethical Investment Limited (ABN 47 003 188 930; AFSL 229949) and issued by the Trustee of the Fund, Australian Ethical Superannuation Pty Ltd (ABN 43 079 259 733; USI AET0100AU). Before deciding to acquire or continue to hold this product you should consider the Product Disclosure Statement that is available <a href="https://www.australianethical.com.au/super/pds/" target="_blank">here</a>. Information on this site is general information only and does not take into account your personal financial situation or needs. You should also consider obtaining financial advice that is tailored to suit your personal circumstances.
  </p>
</div>