<div class="tac row">
  <div class="col-sm-8 col-sm-offset-2 mb20">
    <h2>Switch to Diamond Energy</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company</b></p>

    <p>
      You can take a simple and positive step to make your electricity spend count and it won’t cost you extra.
      Diamond Energy is an electricity retailer supporting new renewable generation derived from Australia’s pure 
      resources.
    </p> 

    <p>
      <strong>Switching is simple - it only takes a couple of minutes.</strong>
    </p> 

    <p>
      Once you switch, you don’t have to do anything – you can take comfort that you will continue to receive ongoing competitive rates whilst supporting new renewable generation in Australia. 
    </p> 

    <p><strong>Switching never felt better</strong></p>
  </div>
  
  <hr>
  
  <h2 class="mb40">Reasons to Switch to Diamond Energy</h2>
  
  <div class="reasons col-sm-10 col-sm-offset-1">
    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_solar_2.png" %>
      </div>

      <p>
        Solar specialists and one of the highest feed in tariffs available
      </p>
    </div>
    
    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_price.png" %>
      </div>

      <p>
        Offering great rates with no hidden charges
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_solar.png" %>
      </div>

      <p>
        Only sources renewable energy around Australia including solar, wind, wave and bio-energy
      </p>
    </div>

    <div class="clb"></div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_quick.png" %>
      </div>

      <p>
        It's quick. Switch online in 5 minutes!
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_trophy.png" %>
      </div>

      <p>
        Highest ranked retailer in NSW, QLD &amp; SA, 2nd in VIC by Greenpeace (2014)
      </p>
    </div>
    
    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_leaf.png" %>
      </div>

      <p>
        Owns and operates 100% accredited GreenPower generation
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_service.png" %>
      </div>

      <p>
        Real people with personalised service
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_ideas.png" %>
      </div>

      <p>
        Providing smart tips and experienced team with extensive solar knowledge
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_charity.png" %>
      </div>

      <p>
        A contribution will be made to one of our charity projects
      </p>
    </div>

    <div class="clb"></div>
  </div>

  <div class="tac mb20">
    <%= link_to "START THE SWITCH", "#switch_diamond_energy", class: "btn btn-primary btn-padded" %>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal mb20">
    <h2 class="tac mb40">FAQs</h2>
    
    <%= render @faqs %>
  
    <div class="clb"></div>

    <div class="tac">
      <%= link_to "See full FAQs", faqs_path, class: "btn btn-primary btn-padded" %>
    </div>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal">
    <h2 class="tac mb40">About Diamond Energy</h2>

    <p>
      Diamond Energy is an electricity retailer supporting new renewable generation derived from Australia’s pure 
      resources.  
    </p>

    <p>
      They own their own renewable energy generators and support many other new and innovative technologies including 
      solar energy, bio-energy, wind energy, wind energy and wave energy.
    </p>

    <p>
      They also have strong sustainability principles and were ranked as the highest ranked operating electricity 
      retailer in NSW, QLD and SA and also highly in VIC in Greenpeace Green Electricity Guide 2014.
    </p>

    <p>
      Diamond Energy is an Australian private limited company, owned by it’s management team, some small private investors 
      with a minority cornerstone interest from leading global US solar manufacturer SunPower Corporation.
    </p>
  </div>
</div>