<div class="tac mb50">
  <p class="fwb text-l">Join over 4,500 Australians who've cleaned up their super in under 3 minutes. It’s:</p>

  <div class="col-sm-4">
    <%= image_tag "future_super_rocketship", class: "w50p" %>

    <p><b>Super Fast</b><br>Instant online application &amp; super rollover - join online in under 3 minutes.</p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "future_super_textlines", class: "w50p" %>
    
    <p><b>Super Easy</b><br>We can help you find and consolidate your old super.</p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "future_super_familiar", class: "w50p" %>

    <p><b>Plus all the usuals</b><br>Salary sacrifice, insurance and income protection options.</p>
  </div>

  <div class="clb"></div>
</div>

<div class="future-super-approved row mb100">
  <div class="tick-cross">
    <%= image_tag "future_super_yellow_tick.png" %>
  </div>

  <h3>Approved investments</h3>

  <p class="mb40 pl20 pr20">These activities have been approved for our investment list. Companies on our list need to meet all our criteria as an ethical, environmentally sound and socially responsible investment.</p>

  <div class="future-super-icons">
    <div class="col-sm-4">
      <%= image_tag "future_super_medical.png" %>
      
      <p>medical science &amp; healthcare</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_technology.png" %>
      
      <p>technology</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_education.png" %>
      
      <p>education</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_renewables.png" %>
      
      <p>renewable energy</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_clean_money.png" %>
      
      <p>clean money (fossil-free banking)</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_healthy_foods.png" %>
      
      <p>healthy foods</p>
    </div>

    <div class="clb"></div>
  </div>
</div>

<div class="future-super-excluded row mb20">
  <div class="tick-cross">
    <%= image_tag "future_super_cross.png" %>
  </div>

  <h3>Excluded investments</h3>

  <p class="mb40 pl20 pr20">Companies who engage in unethical activities have been actively screened out from our investment list. Your super will never be used to fund these practices, plus many others.</p>

  <div class="future-super-icons">
    <div class="col-sm-4">
      <%= image_tag "future_super_coal.png" %>
      
      <p>coal</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_fossil_fuels.png" %>
      
      <p>fossil fuels</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_tobacco.png" %>
      
      <p>tobacco</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_live_animal_export.png" %>
      
      <p>live animal export</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_detention_centres.png" %>
      
      <p>detention centres</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag "future_super_weapons.png" %>
      
      <p>weapons</p>
    </div>

    <div class="clb"></div>
  </div>
</div>

<div class="tac mb20">
  <%= link_to "START THE SWITCH", "#switch_good_super", class: "btn btn-primary btn-padded" %>
</div>

<hr>

<div class="terms future-super-icons tac">
  <div class="col-sm-4">
    <%= image_tag "future_super_park", class: "w50p" %>

    <p>Keep your conscience clean - your super will play no part in funding fossil fuels, live 
    animal exports or detention centres.</p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "future_super_premium", class: "w50p" %>

    <p>Your super is managed by Grosvenor Pirie, experts in super management. And we are backed 
    by Australia’s most reputable bank, Bendigo Bank.</p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "future_super_tick", class: "w50p" %>

    <p>We use ‘positive screening’ to invest in companies that help build a better fossil-fuel free future.</p>
  </div>

  <div class="clb"></div>
</div>

<div class="future-super-carbon-neutral mb20">
  <div class="col-sm-4 pl0 mr0">
    <%= image_tag "future_super_carbon_neutral" %>
  </div>

  <div class="col-sm-8 tac pl0 pt20">
    <p class="mb40">We are the first superannuation fund in the world to be certified as carbon neutral.</p>

    <p>Switching to fossil free super can reduce your carbon footprint more than driving a Prius, 
    installing household solar and going vegan combined!</p>
  </div>
  
  <div class="clb"></div>
</div>

<div class="tac mb20">
  <%= link_to "START THE SWITCH", "#switch_good_super", class: "btn btn-primary btn-padded" %>
</div>

<script type="text/javascript">
adroll_adv_id = "76FWXI3YVJD5NLVZVKIXDZ";
adroll_pix_id = "CDOMSCLBOVBMJJJODD2IP6";
(function () {
    var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    };
    if (window.addEventListener) {window.addEventListener('load', _onload, false);}
    else {window.attachEvent('onload', _onload)}
}());
</script>