<div class="terms good-super-icons">
  <div class="good-super-icons tac">
    <p class="text-l">Did you know what you could be contributing to?</p>
    <p class="text-l">Unlike most other super funds...</p>

    <div class="text-light-green mb40">
      <h3 class="good-super-green text-l mb20">Good Super seek positive, sustainable investments like:</h3>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_clean_energy.png" %>

        <p>Clean Energy</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_sustainable_products.png" %>

        <p>Sustainable Products</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_healthcare.png" %>

        <p>Healthcare</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_technology.png" %>

        <p>Innovative Technology</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_energy_efficiency.png" %>

        <p>Energy Efficiency</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_education.png" %>

        <p>Education</p>
      </div>
      
      <div class="clb"></div>
    </div>

    <div class="clb"></div>
    
    <div class="mb40">
      <h3 class="text-l mb20">And avoid common investments that involve:</h3>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_tobacco.png" %>

        <p>Tobacco</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_fossil_fuels.png" %>

        <p>Fossil Fuels</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_gambling.png" %>

        <p>Gambling</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_human_rights_abuses.png" %>

        <p>Human Rights Abuses</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_coal.png" %>

        <p>Coal</p>
      </div>

      <div class="col-sm-4 col-xs-6">
        <%= image_tag "good_super_icon_weapons.png" %>

        <p>Weapons</p>
      </div>
    </div>
  </div>
</div>

<div class="tac mb20">
  <%= link_to "START THE SWITCH", "#switch_good_super", class: "btn btn-primary btn-padded" %>
</div>

<hr>

<div class="disclaimer pl40 pr40">
  <p>
    Interests in Good Super, a division of max Super, are issued by Equity Trustees Limited (ABN 46 004 031 298). Before deciding to acquire or continue to hold this product you should consider the Product Disclosure Statement that is available <a href="https://www.goodsuper.com.au/Product-Disclosure-Statement/" target="_blank">here</a> Before making decisions you should consider how appropriate they are given your own objectives, financial situation and needs, because this advertisement has been prepared without taking these into account.
  </p>

  <p>
    This advertisement is provided by Como Financial Services Pty Ltd (ABN 74 101 393 435, AFSL 289890), the promoter of Good Super, in contract with Good Super Pty Ltd (ABN 71 163 522 058, Authorised Representative No. 457455 of Como Financial Services).
  </p>
</div>