<div class="tac row">
  <div class="col-sm-8 col-sm-offset-2 mb20">
    <h2>Switch to Powershop</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company</b></p>

    <p>
      Powershop are ranked Australia's greenest power provider by Greenpeace and are Australia's first and only carbon neutral energy retailer. With their innovative new app
      you can pay your bills in seconds and monitor your usage!
    </p> 

    <p>
      Not only that but a report released by the Essential Services Commission in October 2014 states that Powershop has offer the lowest overall prices on average across Victoria.
    </p> 

    <p><strong>Switching never felt better</strong></p>
  </div>
  
  <hr>
  
  <h2 class="mb40">Reasons to Switch to Powershop</h2>
  
  <div class="reasons col-sm-10 col-sm-offset-1">
    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_price.png" %>
      </div>

      <p>
        Consistently amongst Victoria's cheapest energy retailers
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_lock.png" %>
      </div>

      <p>
        No lock in Contracts AND Powershop cover exit fees up to $75
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_leaf.png" %>
      </div>

      <p>
        100% carbon neutral electricity
      </p>
    </div>

    <div class="clb"></div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_trophy.png" %>
      </div>

      <p>
        Ranked Australia's greenest energy provider by Greenpeace (2014)
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_charity.png" %>
      </div>

      <p>
        A contribution will be made to one of our charity projects
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_quick.png" %>
      </div>

      <p>
        It's quick. Switch online in 5 minutes!
      </p>
    </div>

    <div class="clb"></div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_renewable.png" %>
      </div>

      <p>
        100% backed by renewable energy
      </p>
    </div>

    <div class="col-sm-4">
      <div>
        <%= image_tag "reasons_app.png" %>
      </div>

      <p>
        Stay in control, track your usage on your mobile and computer
      </p>
    </div>
  </div>

  <div class="tac mb20">
    <%= link_to "START THE SWITCH", "#switch_powershop", class: "btn btn-primary btn-padded" %>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal mb20">
    <h2 class="tac mb20">Compare my bills</h2>
    
    <p>Want to know if switching to Powershop could save you money? Let us know your details and someone will be in touch shortly to compare your bills:</p>
    
    <%= render 'messages/form', bill_compare: true, remote: true %>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal mb20">
    <h2 class="tac mb40">FAQs</h2>
    
    <%= render @faqs %>
  
    <div class="clb"></div>

    <div class="tac">
      <%= link_to "See full FAQs", faqs_path, class: "btn btn-primary btn-padded" %>
    </div>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal">
    <h2 class="tac mb40">About Powershop</h2>

    <p>
      Powershop is an online electricity retailer, originally founded in New Zealand and available in Australia (Victoria, NSW and South-East QLD) as well. 
    </p>

    <p>
      Powershop is a 51% New Zealand state-owned enterprise and the first electricity company in the world where consumers can choose between different brands of electrical power listed on the website and switch between them with the click of a button. Different brands of power may offer lower prices, sponsorships or environmental benefits. Users can either let the system automatically buy power from the 
      cheapest supplier, or log in regularly to take advantage of specials.
    </p>

    <p>
       Powershop were found to be Victoria’s cheapest power provider on average according to a report by the Essential Services Commission in 2014.The report showed that Powershop’s prices were cheapest in 11 of the 15 residential scenarios shown, and Powershop was within the cheapest 3 in all 15 scenarios.
    </p>

    <p>
       It was the best company in Consumers' Institute of New Zealand's 2011 survey of electricity companies. 96% of Powershop customers found it 'good' or 'very good'. Powershop was rated 96% again in 2012.
    </p>
  </div>
</div>