<h2 class="mb40 tac">Reasons to Switch to Powershop</h2>

<div class="reasons col-sm-8 col-sm-offset-2 tac">
  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_price.png" %>
    </div>

    <p>
      Consistently amongst Victoria's cheapest energy retailers
    </p>
  </div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_lock.png" %>
    </div>

    <p>
      No lock in Contracts AND Powershop cover exit fees up to $75
    </p>
  </div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_leaf.png" %>
    </div>

    <p>
      100% carbon neutral electricity
    </p>
  </div>

  <div class="clb"></div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_trophy.png" %>
    </div>

    <p>
      Ranked Australia's greenest energy provider by Greenpeace (2014)
    </p>
  </div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_charity.png" %>
    </div>

    <p>
      A contribution will be made to one of our charity projects
    </p>
  </div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_quick.png" %>
    </div>

    <p>
      It's quick. Switch online in 5 minutes!
    </p>
  </div>

  <div class="clb"></div>

  <div class="col-sm-4 col-sm-offset-2">
    <div>
      <%= image_tag "reasons_renewable.png" %>
    </div>

    <p>
      100% backed by renewable energy
    </p>
  </div>

  <div class="col-sm-4">
    <div>
      <%= image_tag "reasons_app.png" %>
    </div>

    <p>
      Stay in control, track your usage on your mobile and computer
    </p>
  </div>
</div>