<h2 class="mb40 tac pl15 pr15">Reasons to Switch to Energy Locals</h2>

<div class="reasons col-sm-8 col-sm-offset-2 tac">
  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_price.png" %>
    </div>

    <p>
      Simple pricing and a promise to never raise prices for profit
    </p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_lock.png" %>
    </div>

    <p>
      No lock in Contracts
    </p>
  </div>
  
  <div class="clb dn-m"></div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_charity.png" %>
    </div>

    <p>
      A contribution will be made to one of our charity projects
    </p>
  </div>

  <div class="clb dn-sm"></div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_quick.png" %>
    </div>

    <p>
      It's quick. Switch online in 5 minutes!
    </p>
  </div>
  
  <div class="clb dn-m"></div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_renewable.png" %>
    </div>

    <p>
      Use their profits to support renewable projects
    </p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_solar.png" %>
    </div>

    <p>
      One of the highest solar tariffs in the market
    </p>
  </div>
</div>