<h2 class="mb40 tac pl15 pr15">Reasons to Switch to Diamond Energy</h2>

<div class="reasons col-sm-8 col-sm-offset-2 tac">
  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_solar_2.png" %>
    </div>

    <p>
      Solar specialists and one of the highest feed in tariffs available
    </p>
  </div>

  <div class="col-sm-4 col-xs-6 dn-sm">
    <div>
      <%= image_tag "reasons_price.png" %>
    </div>

    <p>
      Offering great rates with no hidden charges
    </p>
  </div>
  

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_solar.png" %>
    </div>

    <p>
      Only sources renewable energy around Australia including solar, wind, wave and bio-energy
    </p>
  </div>

  <div class="clb"></div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_quick.png" %>
    </div>

    <p>
      It's quick. Switch online in 5 minutes!
    </p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_trophy.png" %>
    </div>

    <p>
      Highest ranked retailer in NSW, QLD &amp; SA, 2nd in VIC by Greenpeace (2014)
    </p>
  </div>
  
  <div class="clb dn-m"></div>
  
  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_leaf.png" %>
    </div>

    <p>
      Owns and operates 100% accredited GreenPower generation
    </p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_service.png" %>
    </div>

    <p>
      Real people with personalised service
    </p>
  </div>
  
  <div class="clb dn-m"></div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_ideas.png" %>
    </div>

    <p>
      Providing smart tips and experienced team with extensive solar knowledge
    </p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <div>
      <%= image_tag "reasons_charity.png" %>
    </div>

    <p>
      A contribution will be made to one of our charity projects
    </p>
  </div>

  <div class="clb"></div>
</div>