<% if current_user && current_user.admin %>
  <div class="row text-page-header mb40 text-s">
    <div class="col-sm-8 col-sm-offset-2">
      <%= link_to "Dashboard", admin_path %>
    </div>
    
    <div class="clb"></div>
  </div>
  
  <div class="admin row mb40 tac">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-6 p10">
        <%= link_to admin_switchers_path do %>
          <div class="admin-button">
            Switchers
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 p10">
        <%= link_to admin_messages_path do %>
          <div class="admin-button">
            Messages
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 p10">
        <%= link_to admin_subscribers_path do %>
          <div class="admin-button">
            Subscribers
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 p10">
        <%= link_to admin_faqs_path do %>
          <div class="admin-button">
            FAQs
          </div>
        <% end %>
      </div>
      
      <div class="clb"></div>
    </div>
    
    <div class="clb"></div>
  </div>
<% else %>
  <div class="tac">You are not authorized to view this page</div>
<% end %>