<section class="banner row flex-center" style="background-image:url(<%= image_url "banner_ethical_homeloans.jpg" %>)">
  <div class="faded-black row tac pt40 pb40">
    <h1>Ethical <span class="yellow-text">Homeloans</span></h1>
  </div>
</section>

<section id="switch" class="row mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="tac mb20 mt20">Choose a more ethical home loan provider</h2>
    
    <p>For most people, a home loan is the biggest investment they will ever make. Make sure your biggest investment is having a positive effect on the world.</p>
    
    <p>Fill in the form below and someone from Ethical Homeloans will be in touch to help you find out if there is a way that you can switch your home loan to a more ethical provider and significantly reduce the negative effects of investing with the wrong bank.</p>
    
    <%= render 'form', partner: @ethical_homeloans %>
  </div>
  
  <div class="clb"></div>
</section>

<section class="row teal-pattern-bg pt40 pb40">
  <h2 class="text-l tac mb20">How it works</h2>
  
  <div class="col-sm-6 col-sm-offset-3 white-bg brdr-grey">
    <ul class="listdc">
      <li>Register your interest using the form above</li>
      <li>A member of the Ethical Homeloans team will get in touch discuss finding an ethical lender to suit your needs.</li>
      <li>If you are happy the Ethical Homeloans team member will manage the entire switching process for you.</li>
    </ul>
  </div>
  
  <div class="clb"></div>
</section>

<section class="row mb40">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="tac mb20">FAQs</h2>

    <% @faqs.each do |faq| %>
      <div class="faq_container">
        <div class="faq">
          <div class="faq_question">
            <%= image_tag "plus.png" %>
            <%= faq.title %>
          </div>

          <div class="faq_answer_container">
            <div class="faq_answer">
              <%= faq.answer %>
            </div>        
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="clb"></div>
  
  <div class="tac">
    <%= link_to "See full FAQs", faqs_path, class: "btn btn-primary btn-padded" %>
  </div>
</section>