<section class="banner row flex-center" style="background-image:url(<%= image_url "banner_power.jpg" %>)">
</section>

<section class="mb40">
  <%= render 'statics/switch_options_power' %>
</section>

<section class="mb40">
  <h2 class="mb40 tac">Ethical Switch power provider criteria table</h2>
  <%= render 'power_providers/criteria_table' %>
</section>

<section class="row mb40">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="tac mb20">FAQs</h2>

    <%= render @faqs %>
  </div>
  
  <div class="clb"></div>
  
  <div class="tac">
    <%= link_to "See full FAQs", faqs_path, class: "btn btn-primary btn-padded" %>
  </div>
</section>