<div class="partner">
  <div class="highlight-bg row pt50 pb50 por">
    <div class="chosen-provider col-sm-8 text-white">
      You have chosen to switch your <%= @partner.industry %> provider to
    </div>
  </div>

  <div class="row">
    <main class="col-sm-8 col-sm-offset-2 pt20 pb40">
      <div class="tac">
        <%= image_tag "partner_#{@partner.filename}_full.png" %>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 mb50">
          <p class="tac">Simply fill out this form and then you will be taken to the <%= @partner.name %> website to complete the switch. It should take less than 5 minutes!</p>

        </div>
        
        <%= render 'form', partner: @partner %>
      </div>
      
      <div class="clb"></div>
      
      <hr>
      
      <%= render "partners/reasons_#{@partner.filename}" %>
    </main>
  </div>
</div>