<div id="switch_power" class="popup" style="display:none;">
  <div class="close"></div>

  <h2>Switch your power provider</h2>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Powershop</h3>
      
      <div class="tac">
        <%= image_tag "partner_powershop_full_transparent.png" %>
      </div>
      
      <p><%= link_to "Choose Powershop", partner_path(@powershop), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Powershop", partner_path(@powershop), class: "text-s" %></p>
    </div>
  </div>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Energy Locals</h3>
      
      <div class="tac">
        <%= image_tag "partner_energy_locals_full.png" %>
      </div>
      
      <p><%= link_to "Choose Energy Locals", partner_path(@energy_locals), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Energy Locals", partner_path(@energy_locals), class: "text-s" %></p>
    </div>
  </div>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Diamond Energy</h3>
      
      <div class="tac">
        <%= image_tag "partner_diamond_energy_full.png" %>
      </div>
      
      <p><%= link_to "Choose Diamond Energy", partner_path(@diamond_energy), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Diamond Energy", partner_path(@diamond_energy), class: "text-s" %></p>
    </div>
  </div>
</div>
 
<div id="switch_super" class="popup" style="display:none;">
  <div class="close"></div>

  <h2>Switch your super provider</h2>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Australian Ethical</h3>
      
      <div class="tac">
        <%= image_tag "partner_australian_ethical_full.png" %>
      </div>
      
      <p><%= link_to "Choose Australian Ethical", partner_path(@australian_ethical), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Australian Ethical", partner_path(@australian_ethical), class: "text-s" %></p>
    </div>
  </div>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Good Super</h3>
      
      <div class="tac">
        <%= image_tag "partner_good_super_full.png" %>
      </div>
      
      <p><%= link_to "Choose Good Super", partner_path(@good_super), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Good Super", partner_path(@good_super), class: "text-s" %></p>
    </div>
  </div>

  <div class="col-sm-4 p10">
    <div class="grey-padded">
      <h3>Future Super</h3>
      
      <div class="tac">
        <%= image_tag "partner_future_super_full.png" %>
      </div>
      
      <p><%= link_to "Choose Future Super", partner_path(@future_super), class: "btn btn-primary btn-padded" %></p>
      
      <p><%= link_to "Or find out more about Future Super", partner_path(@future_super), class: "text-s" %></p>
    </div>
  </div>
</div>