<section class="banner row flex-center" style="background-image:url(<%= image_url "banner_home.jpg" %>)">
  <div class="faded w100p tac pt15 pb15">
    <h1 class="white-text">Which Companies Deserve Your Money?</h1>
    <%= link_to "Find Out Now", "#switches", class: "btn btn-primary btn-padded mt10" %>
  </div>
</section>

<section class="row tac mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="m0">Make an Ethical Switch</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company.</b></p>

    <p id="popup_anchor">We would all rather that the money we spent didn't cause any harm but it can be tricky to know which companies are the bad ones and which are the good.</p>

    <p><strong>This is why we exist.</strong></p>	

    <p>We are a new social enterprise whose mission is to find ethical companies offering great deals and to make it simple for people to switch across to them. By finding affordable deals from ethical companies, the choice is each of ours to make. So are you up for making an Ethical Switch.</p> 

    <p>We promise you, <strong>switching never felt better.</strong></p>	
  </div>
  
  <div class="clb"></div>
</section>

<%= render 'statics/switch_options', no_super: nil %>

<section class="col-sm-10 col-sm-offset-1 tac mb40">
  <h2>Our Philosophy</h2>

  <div class="col-sm-4">
    <%= image_tag "icon_philosophy_positive.png", class: "w75p" %>

    <p>We believe the money you spend every day can have a <strong>positive effect</strong></p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "icon_philosophy_harm.png", class: "w75p" %>

    <p>You have the right to know that your money <strong>isn't doing any harm</strong></p>
  </div>

  <div class="col-sm-4">
    <%= image_tag "icon_philosophy_quick.png", class: "w75p" %>

    <p>Switching to <strong>ethical products</strong> should be <strong>quick, easy and affordable</strong></p>
  </div>

  <div class="clb"></div>
</section>

<div class="clb"></div>

<section class="row grey-bg pt40 pb40">
  <div class="col-sm-10 col-sm-offset-1 tac">
    <h2 class="mb20">What We Do</h2>
    
    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_1.png", class: "w80p" %>

      <p>We research the companies within certain industries and give them an ethical rating</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_2.png", class: "w80p" %>

      <p>We then compare their prices to find which of them are offering the best value</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_3.png", class: "w80p" %>

      <p>We choose the most ethical companies and offer a quick, online switch</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_4.png", class: "w80p" %>

      <p>When you switch through our website, we donate on your behalf to one of our charity projects!</p>
    </div>
  </div>
  
  <div class="clb"></div>
</section>

<div class="highlight-bg row white-text pt20 pb20 tac mb40">
  <div class="lh50 col-sm-8 col-sm-offset-2">
    <div class="col-sm-6 tar">
      <h3 class="fwn">How ethical is your power company?</h3>
    </div>

    <form method="post" action="ethical-power-results">
      <div class="col-sm-3">
        <select class="form-control di" name="state">
          <option value="default" class="dropdown-default">Select a State...</option>
          <option value="act">ACT</option>
          <option value="nsw">NSW</option>
          <option value="qld">QLD</option>
          <option value="sa">SA</option>
          <option value="tas">TAS</option>
          <option value="vic">VIC</option>
        </select>
      </div>

      <div class="col-sm-3 tal">
        <input type="submit" name="power-submit" id="power-submit" class="btn btn-primary" value="Find Out Now">
      </div>
    </form>
  </div>
  
  <div class="clb"></div>
</div>

<section class="row mb40">
	<div class="col-sm-8 col-sm-offset-2">
	  <h2 class="mb20 tac">Our Charity Partners</h2>
	
    <%= render @charities %>
	</div>
  
  <div class="clb"></div>
</section>

<%= render 'sign_up_bar' %>

<%= render 'statics/criteria' %>

<div class="clb"></div>

<section class="our-story row mb40">
  <div class="faded-blue pt40 pb40 tac mb30">
    <h2>Our Story</h2>
  </div>

  <div class="col-sm-4 col-sm-offset-2 faded-blue pt10 pb10 pl20 pr20">
    <p>
      Ethical Switch began because we noticed something. No matter how hard we try, the task of consuming ethically is difficult and time-consuming.  Our purpose is to help busy people discover companies that align better with their personal values.
    </p>

    <p>
      Through our research, we empower consumers with the information needed to make their ethical choices.  We then provide a simple, online and fast switch.
    </p>

    <p>
      Our focus is with core household spending –electricity, superannuation and soon to be released, banking!  Choosing more ethical providers can vastly reduce personal carbon footprints and helps reward companies that are doing better business.
    </p>

    <p>
      Unlike other comparison websites, we only offer switches to companies that rate more highly across a range of ethical considerations.  We also made sure that a vast portion of our profits go to our charity partners - every time somebody makes a switch, we donate.
    </p>

    <p>
      Based in Melbourne, we were incubated by a group of passionate volunteers in 2014.  The heart of our business is to empower our awesome not-for-profit partners and that's why we donate over 90% of our profits!
    </p>
  </div>
		
  <div class="col-sm-4 col-sm-offset-1 faded-blue pt10 pb10 pl20 pr20">
    <h3 class="mt10">Our team:</h3>

    <p>
      Sam – passionate about “business for purpose”, holds an MBA from Melbourne Business School and has worked in the comercial and not-for-profit sectors.
    </p>

    <p>
      Tam – worked for 14 years in the energy markets with a passion for renewable energy.  Has founded multiple social enterprises in Australia and Africa.
    </p>

    <p>
      Dan – aims to make the world a better place through technology, has worked with multiple not-for-profits to give their dreams a digital voice.
    </p>

    <p>
      We hope you enjoy our service and that after you've made your first switch you'll agree that switching never felt better.
    </p>
  </div>
  
  <div class="clb"></div>
</section>

<section class="mb40 row italic">
  <div class="col-sm-10 col-sm-offset-1">
    <h2 class="tac mb20">"Switching our power was incredibly simple and quick"</h2>

    <blockquote class="col-sm-10 col-sm-offset-1">
      "Switching our power was incredibly simple and quick. Ethical Switch had all the facts and within 5 minutes we had a new electricity provider that we felt we could trust in terms of environmental impact and pricing. Ethical Switch saved us money and time and gave us peace of mind by doing all of the hard work for us."
      
      <footer><strong>- Vidi Chandra, Concentric Circles</strong></footer>
    </blockquote>

    <div class="col-sm-6 p20">
      <blockquote class="grey-bg p20">
        "...seriously, it took me only 5 minutes to save money AND do my bit towards the planet by swapping to a more ethical power supplier. What can I ethically switch to next???"
      
        <footer><strong>- Anna Rogers, HUB Group</strong></footer>
      </blockquote>
    </div>

    <div class="col-sm-6 p20">
      <blockquote class="grey-bg p20">
        "Switching to a better product couldn't get any easier! In a few simple clicks I was all set up with a new energy provider. And the best part is that you get that provider to make a donation to a good cause just because you've made the switch!"
      
        <footer><strong>- Elza Carciu</strong></footer>
      </blockquote>
    </div>
  </div>
  
  <div class="clb"></div>
</section>