<%= render 'banner_home' %>
<%= render 'three_steps' %>
<!--

<blockquote class="col-sm-6 col-sm-offset-3 mb40 italic">
  <p class="mb20">"Seriously, it took me only 5 minutes to save money <strong>and</strong> do my bit towards the planet by swapping to a more ethical power supplier. What can I ethically switch to next?"</p>

  <footer><strong>- Anna Rogers, HUB Group</strong></footer>
</blockquote>

<div class="clb"></div>
-->

<%= render 'criteria' %>
<%= render 'sign_up_bar' %>
<%= render 'charity_partners' %>
<%= render 'how_ethical_is_your_power_provider' %>
<%= render 'testimonials' %>
<%= render 'our_story' %>
