<% if @state %>
  <div class="highlight-bg row pt20 pb20 tac text-white">
    <h3>Showing Results for <%= @state.short_name %>:</h3>
  </div>

  <div class="criteria_table">
    <div class="tablet-desktop">
      <form id="toggler">
        <div class="cta">
          Compare your providers:
        </div>

        <% @power_providers.each do |power_provider| %>
          <div class="checkboxItem">
            <input type="checkbox" id="<%= power_provider.filename %>" name="<%= power_provider.filename %>" value="<%= power_provider.name %>" class="di" <%= "disabled" if power_provider.partner? %> <%= "checked" if power_provider.partner? || power_provider.dirty_three? %>>
            <label for="<%= power_provider.filename %>" class="di"><%= power_provider.name %></label>
          </div>
        <% end %>

        <div class="clb"></div>
      </form>

      <main>
        <table class="tac">
          <tr>
            <th></th>

            <% @power_providers.each do |power_provider| %>
              <th class="<%= power_provider.filename %> tac"><%= power_provider.name %></th>
            <% end %>
          </tr>

          <tr>
            <th></th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= image_tag "power_logo_#{power_provider.filename}.jpg" %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Major Shareholder</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.major_shareholder %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Parent Company</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.parent_company %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Major Shareholder/Parent Company Base</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.major_shareholder_base %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Primary Fuel Source</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.primary_fuel_source %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Carbon Emissions</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.carbon_emissions %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Renewable Energy</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.renewable_energy %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>New Renewable Energy Investment</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% if power_provider.new_renewable_energy_investment %>
                  <%= image_tag "green_tick.png" %>
                <% else %>
                  <%= image_tag "red_cross.png" %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>No CSG Investment</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% if power_provider.no_csg_investment %>
                  <%= image_tag "green_tick.png" %>
                <% else %>
                  <%= image_tag "red_cross.png" %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>GreenPower Available</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% if power_provider.greenpower_available %>
                  <%= image_tag "green_tick.png" %>
                <% else %>
                  <%= image_tag "red_cross.png" %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Ombudsman Complaints</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.ombudsman_complaints %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Dual Fuel</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.dual_fuel %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Greenpeace Ranking</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.greenpeace_ranking %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>States of Operation</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% power_provider.states.each do |state| %>
                  <%=  "#{state.short_name} " %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Likely Termination Fee</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <%= power_provider.termination_fees.find_by(state_id: @state.id).amount %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Ethical Switch Rating</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% power_provider.ethical_switch_rating.to_i.times do %>
                  <%= image_tag "gold_star.png" %>
                <% end %>

                <% (5 - power_provider.ethical_switch_rating).to_i.times do %>
                  <%= image_tag "grey_star.png" %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th></th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %>">
                <% if power_provider.partner? %>
                  <%= link_to "Switch Now", new_switch_path(partner_id: power_provider.partner? ? Partner.find_by(name: power_provider.name).id : nil, charity_id: nil), class: "btn btn-primary btn-switch-table" %>
                <% end %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>Extra Things to Note</th>

            <% @power_providers.each do |power_provider| %>
              <td class="<%= power_provider.filename %> vat pl15 pr15">
                <div>
                  <%= power_provider.extra_details(power_provider.filename) %>
                </div>
              </td>
            <% end %>
          </tr>
        </table>
      </main>
    </div>

    <div id="power-results-2" class="results-2">
      <table class="mobile-table">
        <thead>
          <tr><?php display_power_table_mobile_headers($powerProvidersArray['tableHeaderArray']); ?></tr>
        </thead>

        <?php if(!empty($powerProvidersArray['powershopArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['powershopArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['diamondArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['diamondArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['originArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['originArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['aglArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['aglArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['energyAustraliaArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['energyAustraliaArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['ergonArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['ergonArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['lumoArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['lumoArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['redArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['redArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['momentumArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['momentumArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['auroraArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['auroraArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['simplyArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['simplyArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['alintaArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['alintaArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['powerdirectArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['powerdirectArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['actewaglArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['actewaglArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['dodoArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['dodoArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['clickArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['clickArray']); ?></tr>

        <?php } ?>

        <?php if(!empty($powerProvidersArray['neighbourhoodArray'][$_SESSION['chosenState']])) { ?>

          <tr><?php display_power_table_mobile($powerProvidersArray['neighbourhoodArray']); ?></tr>

        <?php } ?>
      </table>
    </div>

    <div class="disclaimer mb40 mt40">
      <p>Ethical Switch is comparing providers of goods and services according to publicly available data. We cannot guarantee that we have included all providers, nor can we guarantee this information to be 100% correct, so please do your own research before making a decision to switch. If you believe our information to be incorrect, please contact us and let us know! </p>


      <p>For more information on the criteria table, <%= link_to "click here", criteria_table_info_path, target: "_blank" %></p>
    </div>
  </div>
<% else %>
  Select state
  
  <%= form_tag(remote: true) do %>
    
  <% end %>
<% end %>


