<!DOCTYPE html>
<html>
  <head>
    <title>EthicalSwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600' rel='stylesheet' type='text/css'>
  </head>

  <body class="container-fluid">
    <header class="primary row tac mb20">
      <div class="col-sm-6 col-sm-offset-3">
        <%= image_tag "logo_full.png", class: "w80p mt30 mb10" %>
      </div>
      
      <nav>
        <ul class="col-sm-6 col-sm-offset-3">
          <li class="col-sm-4">
            <%= link_to ethical_power_path, class: "power" do %>
              <span>Ethical power</span>
            <% end %>
          </li>
          
          <li class="col-sm-4">
            <%= link_to ethical_super_path, class: "super" do %>
              <span>Ethical super</span>
            <% end %>
          </li>
          
          <li class="col-sm-4">
            <%= link_to ethical_homeloans_path, class: "homeloans" do %>
              <span>Ethical homeloans</span>
            <% end %>
          </li>
        </ul>
      </nav>
      
      <div class="clb"></div>
    </header>
    
    <%= yield %>
    
    <div class="clb"></div>
    
    <footer class="primary row">
      <div class="col-sm-5">
        &copy; Copyright <%= Date.new.strftime("%Y") %> Ethical Switch Pty Ltd | ABN: 71601309611
      </div>
      
      <div class="col-sm-7 tar">
				<ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
          <li><%= link_to "FAQs", faqs_path %></li>
          <li><%= link_to "Contact Us", contact_us_path %></li>
				</ul>
      </div>
    </footer>
  </body>
</html>
