<!DOCTYPE html>
<html>
  <head>
    <title>EthicalSwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600' rel='stylesheet' type='text/css'>
  </head>

  <body class="container-fluid">
    <div class="overlay" style="display:none;"></div>
   
    <header class="primary row tac">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to root_path do %>
          <%= image_tag "logo_full.png", class: "w75p mt20 mb20" %>
        <% end %>
      </div>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>    
      
      <div class="clb"></div>
    </header>
    
    <%= yield %>
    
    <div class="clb"></div>
    
    <footer class="primary row">
      <div class="col-sm-5">
        &copy; Copyright <%= Date.new.strftime("%Y") %> Ethical Switch Pty Ltd | ABN: 71601309611
      </div>
      
      <div class="col-sm-7 tar">
				<ul class="lisn">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
          <li><%= link_to "FAQs", faqs_path %></li>
          <li><%= link_to "Contact Us", new_message_path %></li>
				</ul>
      </div>
    </footer>
  </body>
</html>
